
:root{
    --success: #4caf50;
    --danger: #f44336;
    --info: #2196f3;
    --success-bg: rgba(76,175,80,0.1);
    --danger-bg: rgba(244, 67, 54, 0.1);
}


.button{
    background-color: blueviolet;
    padding: 8px;
    border: none;
    border-radius: 3px;
    color: white;
}

.flexContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}